pyfiglet
requests
bs4
roman
ndg-httpsclient
types-requests
types-beautifulsoup4
requests==2.21.0
Flask==2.2.5
Flask-Testing
pyOpenSSL>=19.0.0
Flask-Login==0.4.1
connexion >= 2.6.0
connexion[swagger-ui] >= 2.6.0
python_dateutil == 2.6.0
setuptools >= 21.0.0
swagger-ui-bundle >= 0.0.2
Flask-Injector==0.13.0